body{
  font-family: Lucida, Sans-Serif;
  font-size: 14px;
}
#applications-list {
  .notes {
    color: #777;
    font-size: 0.8em;
    display: block;
    float: right;
  }
  .visa_status {
    font-size: 16px;
  }
  .flag-icon {
    float: right;
  }
}
.flag-icon {
  margin-left: 5px;
}

.no_wrap {
  white-space: pre;
}
nav {
  margin-top: 25px;
}